# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# PyCharm project settings
.idea/

# Local database
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
